# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Misc
ErrorLog.txt
src/ErrorLog.txt
src/lib
src/headers/rocket_includes
src/headers/glm_includes
src/headers/bullet3_includes
data/display.conf
v8
utility/
pixelart/
projects/*
!projects/projects.txt
!projects/engine

assets/materials/*
assets/models/*
assets/meshes/*
assets/config/*
assets/textures/*
assets/raw_images/*
assets/raw_models/*
assets/dump/*

!assets/materials/engine_base*
!assets/models/engine_base*
!assets/meshes/engine_base*
!assets/config/engine_base*
!assets/textures/engine_base*
!assets/raw_images/engine_base*
!assets/raw_models/engine_base*
