# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Misc
ErrorLog.txt
src/ErrorLog.txt
src/lib
src/headers/rocket_includes
src/headers/glm_includes
src/headers/bullet3_includes
data/display.conf
v8
utility/
pixelart/
projects/*
!projects/projects.txt
!projects/engine
